* {
  padding: 0;
  margin: 0;
}

header nav {
	background: rgb(104,168,15);
	margin-bottom:10px;
  margin-top: 0;
}

header nav ul {
  margin-left: 20px;
	list-style: none;
	overflow: hidden;
}

header nav ul li {
	float: left;
}

header nav ul li a {
	display: block;
	padding:20px;
	color:#fff;
	text-decoration: none;
}

header nav ul li a:hover {
	background: #07B517;
}

h1 a {
  color: black
}

.center {
  margin: auto;
  text-align: center;
}

.page-header {
  background-color: #68A80F;
  margin-top: 0;
  margin-bottom: auto;
  padding: 10px 0px 10px 40px;
}
